@charset "utf-8";
/* CSS Document */

.card {
    box-shadow: -1px 15px 30px -10px black;
}

.card-wr-bg:hover {
    background-color: #f4dd97;
    cursor: pointer;
    transition: all 1s ease;
    transform: scale(1.04);
}

.card-s-bg:hover {
    background-color: #71ece6;
    cursor: pointer;
    transition: all 1s ease;
    transform: scale(1.04);
}

.card-d-bg:hover {
    background-color: #f07a85;
    cursor: pointer;
    transition: all 1s ease;
    transform: scale(1.04);
}

.card-g-bg:hover {
    background-color: #92fca4;
    cursor: pointer;
    transition: all 1s ease;
    transform: scale(1.04);
}
.card-footer {
    justify-content: space-around;
    text-align: center;
    display: flex;
    padding: 0px !important;
}

.card-footer div {
    flex-grow: 1 !important;
    border-right: 1px solid #dbdbdb;
    padding: 10px 0;
}

.card-footer div:last-child {
    border-right: none;
}

.floating {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float-button {
    margin-top: 16px;
}